header {
    background-image: url(./portfolioimage1.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: auto;
}

section {
    color: black;
    text-align: center;
    font-size: 30px;
}

header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
}

#about {
    color: black;
    padding: 50px;
}

/* created this to flex container in the nav to move them to the right. You can change the flex direction to row if you no longer want them on top of one another*/
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 0;
    text-align: justify;
}

aside {
    align-items: center;
    
}

body {
    background-color: tan;
}
